@tailwind base;
@tailwind components;
@tailwind utilities;

/* Menghilangkan scrollbar default agar tampilan lebih clean */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}

.dark ::-webkit-scrollbar-thumb {
  background: #334155;
}

body {
  @apply transition-colors duration-500 ease-in-out antialiased;
}